<%- include ('../../parts/head.ejs') %>
<%- include ('../../parts/menu.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a href="/category/new"><button class="btn btn-success">Nova categoria</button></a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
    </table>
</div>

<%- include ('../../parts/footer.ejs') %>