<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="author-content">
                    <h4>Administração do Site</h4>
                </div>
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li><a href="/">Artigos</a></li>
                        <li>
                            <a href="/admin/admin-panel/categories" target="_blank">Categorias</a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright-text">
                    <p>Copyright 2020 Pedro Higor de Sousa</p>
                </div>
            </div>
        </div>
    </div>